.app {
  font-size: 2vmin;
}

h1 {
  font-size: 4vmin;
}

.main_tbl {
  width: 100%;
}

.card_suit_top {
  font-size: 2vmin;
  text-align: right;
  padding-bottom: 0vmin;
}

.card_suit_bottom {
  font-size: 2vmin;
  text-align: left;
  padding-top: 0vmin;
}

.card_value {
  font-size: 3vmin;
  text-align: center;
  padding: 0vmin;
}

.card {
  width: 6vmin;
  border: 1px solid black;
  border-radius: .3vmin;
  padding: .1vmin;
  /*background-color: gray;*/
}

.fold{
  opacity: 33%;
} 

.hidden {
  visibility: hidden;
}

.chances {
  width: 6vmin;
  vertical-align: bottom;
}

.dealer_button {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  border: .2vw dotted white;
  background-color: plum;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1vw;
  box-shadow: 0vw 0vw .5vw gray;
}