.app input {
  font-size: 2vmin;
}

h1 {
  font-size: 4vmin;
}

.usage td {
  vertical-align: top;
  font-size: 2vmin;
}

.usage2 {
  vertical-align: bottom !important;
}

.card_suit_top {
  font-size: 2vmin;
  text-align: right;
  padding-bottom: 0vmin;
}

.card_suit_bottom {
  font-size: 2vmin;
  text-align: left;
  padding-top: 0vmin;
}

.card_value {
  font-size: 3vmin;
  text-align: center;
  padding: 0vmin;
}

.card {
  width: 6vmin;
  border: 1px solid black;
  border-radius: .3vmin;
  padding: .1vmin;
}

.fold {
  opacity: 33%;
}

.red_suit {
  color: red;
}

.hidden {
  visibility: hidden;
}

.dealer_button_off {
  visibility: visible;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  border: .2vw dotted white;
  background-color: lightgray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1vw;
  box-shadow: 0vw 0vw .5vw gray;
  opacity: 25%;
  cursor: default;
}

.chances {
  width: 6vmin;
  vertical-align: bottom;
}

.dealer_button, .dealer_button_off:hover {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  border: .2vw dotted white;
  background-color: plum;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1vw;
  box-shadow: 0vw 0vw .5vw gray;
  cursor: default;
}

.dealer_button_off:hover {
  opacity: 50%;
}

.toolbar_button:hover {
  text-shadow: 0vw 0vw .5vw black;
  cursor: default;
}

.toolbar_button, .toolbar_button:hover {
  font-size: 3vmin;
}

abbr[title] {
  text-decoration: none;
}

.help_sign {
  visibility: visible;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  border: .2vw dotted white;
  background-color: lightgray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1vw;
  box-shadow: 0vw 0vw .5vw gray;
  cursor: default;
}

#td_help_sign {
  padding-left: 2vmin;
}